/* Stile für die Neuseelandreise*/

body {
    background-color:#eeeeee;
}

header {
    text-align: center;
}

.banner{
    width: 100%;
}

article figure img {
    width: 100%
}

.user {
    border-radius: 50%;
    margin-top: -50px;
}

main {
    background-color:white
    max-width: 1024px;
    margin: auto;
    text-align: justify
}

article{
    padding: 1em;
    text-align: justify
    line-height: 1.2em
}

article p {
    text-align: justify
}

a {
    color: black;
}

article a:visited {
    color: darkblue;
}

footer {
    border-top: 1px solid black;
    padding: 1em 2em 3em 2em;
}

.back {
    float: left;
}

.next {
    float: right;
}

.shadow {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);
}