/* Stile für die Neuseelandreise*/

body {
    background-color:silver;
}

header {
    text-align: center;
}
main {
    background-color:white
    max-width: 1024px;
    margin: auto;
    text-align: justify
}

article{
    padding: 1em;
    text-align: justify
    line-height: 1.2em
}

article p {
    text-align: justify
}

a {
    color: black;
}

article a:visited {
    color: darkblue;
}
